<article class="article-movie">
  <a href="/" class="back-to-home-link">Tillbaka till startsidan</a>
  <h1 class="title">{{ movie.attributes.title }}</h1>
  <div class="intro">
    {{{ movie.attributes.intro }}}
  </div>
  {{#if movie.attributes.image }}
  <img src="{{ movie.attributes.image.url }}">
  {{/if }}
</article>